Flask~=2.2.5
pdf2jpg
flask-restx
pdf2jpg
numpy~=1.21.6
keras-retinanet
Pillow~=9.5.0
pandas~=1.1.5
Werkzeug~=2.2.3
opencv-python
opencv-python~=4.6.0.66
tensorflow~=2.9.3
keras-ocr
unidecode
boto3
psycopg2
craft-text-detector
imutils=0.5.4
pytesseract=0.3.10