Flask~=2.2.5
pdf2jpg
flask-restx
pdf2jpg
numpy
keras-retinanet
Pillow~=9.5.0
pandas
Werkzeug~=2.2.3
opencv-python
opencv-python~=4.6.0.66
tensorflow~=2.9.3
keras-ocr
unidecode
boto3
psycopg2
pytesseract
craft-text-detector
imutils
tesseract
torch
torchvision